@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-main: '#111827';
}

[x-cloak] {
    display: none;
}

.text-main {
    color: var(--color-main);
}

.text-main:hover {

}

/**#calendar {
    max-width: 1100px;
    margin: 40px auto;
}*/
